In [ ]:
# Intro to Python Programming

#Variables and Types

# Setup

First, let's make sure this notebook works well in both python 2 and 3, import a few common modules, ensure MatplotLib plots figures inline and prepare a function to save the figures:

In [ ]:
# To support both python 2 and python 3
from __future__ import division, print_function, unicode_literals

# Common imports
#import numpy as np
#import os

# to make this notebook's output stable across runs
def reset_graph(seed=42):
    tf.reset_default_graph()
    tf.set_random_seed(seed)
    np.random.seed(seed)

# Basics of Python

In [ ]:
#Numbers

In [3]:
#integer
myint = 7
print(myint)

#floating point number
myfloat = 7.0
print(myfloat)
#typecast the integer 8 to a float datatype
myfloat = float(8)
print(myfloat)

#myfloat = 80.7
#print(myfloat)

7
7.0
8.0

In [6]:
#adding integer and float data types - this is a VALID operation
x = myint + myfloat
print(x)

print(myint/myfloat)

print(myint-myfloat)

print(myint*myfloat)

15.0
0.875
-1.0
56.0

In [ ]:
#Strings

In [9]:
mystring = 'hello'
print(mystring)
mystring = "hello"
print(mystring)

mystring = "Don't worry about apostrophes as long as you put it within double quotes"
print(mystring)

hello
hello
Don't worry about apostrophes as long as you put it within double quotes

In [16]:
#operators on strings
one = 2
two = 5
three = one + two
print(three)

hello = "hello"
world = "world "
space = " "
#hello there world 1
#you cannot add integers or floats to strings
helloworld = hello + " " + world + "1"
print(helloworld)

# 1 is a number but "1" is a string

7
hello world 1

In [9]:
print(464 + 1)
print("464" + " " + "1")

465
464 1

In [14]:
#assignments
a, b, c, d = 3, 4, "someString", 555.44

print(a, b, c, d)


print(d)

print(c)

a+b
print(a+b)

3 4 someString 555.44
555.44
someString
7

In [42]:
# This will not work! Cannot mix numbers and strings within operators
one = "1"
two = "2"
hello = "str"

print(one + " " + two + " " + hello)

print(5 + 3.1)

1 2 str
8.1

In [35]:
firstname = "Vivek"
secondname = "Singhal"
age = 29.5

print("My name is %s %s" %(firstname, secondname))

print("My name is %s %s and my age is %0.1f" %(firstname, secondname, age))

My name is Vivek Singhal
My name is Vivek Singhal and my age is 29.5

In [50]:
# Exercise
# change this code
#The target of this exercise is to create a string, an integer, and a floating point number.
#The string should be named mystring and should contain the word "hello".
#The floating point number should be named myfloat and should contain the number 10.0,
#and the integer should be named myint and should contain the number 20.
#10->10.0

mystring = "hello"
myfloat = 10.0
myint = 20

# testing code
if mystring == "hello":
    print("String: %s %f %d " % (mystring, myfloat, myint))

#isinstance checks if myfloat is having a float value in it
if isinstance(myfloat, float) and myfloat == 10.0:
    print("Float: %f" % myfloat)
#if myfloat == 10.0:
#    print(myfloat)
#    print("Float: %d" % myfloat)
if isinstance(myint, int) and myint == 20:
    print("Integer: %d" % myint)

String: hello 10.000000 20
Float: 10.000000
Integer: 20